.title {
    font-family: 'Gotham'; 
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 22px;
    margin-bottom: 35px;
    text-transform: uppercase;
    color: $darkblue;
}

.text {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $white;
}

.center {
    text-align: center;
    margin-bottom: 100px;
}

body {
    font-family: 'Gotham'; 
    font-weight: 500;
}